table {
  width: 100%;
}

th {
  width: 50px;
}

table, th, td
{
  border: 1px solid;
}

td {
  border-radius: 10px;
  border-color: white;
}


td.available {
  background-color: green;
}

td.freeze {
  background-color: red;
}

