<!DOCTYPE html>
<html ng-app="systemAvailability" lang="en">
<head>
  <meta charset="utf-8">
  <title>System availability</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <script src="../js/jquery-1.7.2.min.js"></script>
  <script src="../js/jquery-ui-1.8.21.custom.min.js"></script>
  
  <script src="../js/angular.js"></script>
  <script src="../js/angular-resource.js"></script>
  
  <script src="../js/controllerAdmin.js"></script>
  <script src="../js/mongodb.js"></script>
  <script src="../js/directives.js"></script>
  
  <script src="../js/jquery.dataTables.js"></script>
  <script src="../js/admintables.js"></script>
	
  <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="../css/jquery-ui-1.8.21.custom.css" rel="stylesheet">
  <link href="../css/jquery.dataTables.css" rel="stylesheet">
  <!--<link href="../css/angular-ui.min.css" rel="stylesheet">-->
  
  <style>
	.clickedrow { background-color:#08C !important; color:white;}
	.alertrow_expired { background-color:#FF8080 !important; }
	.alertrow_active { background-color:#B8FF94 !important; }
	.alertrow_lastday { background-color:#FFFF80 !important; }
  </style>
  
</head>

<body ng-controller="adminViewCtrl">

	<div class="navbar">
		<div class="navbar-inner">
			<div class="container">

				<a class="brand" href="#">System availability - AdminView</a>
				<a class="btn btn-primary" href="../index.html"><i class="icon-home icon-white"></i> Home</a>

	        </div>
		</div>
    </div>
	
	<div class="tabbable" style="margin-bottom: 18px"> <!-- Only required for left/right tabs -->
	  <ul class="nav nav-tabs">
		<li class="active"><a href="#tab1" data-toggle="tab">Element</a></li>
		<li><a href="#tab2" data-toggle="tab">Alerts</a></li>
	  </ul>
	  <div class="tab-content">
		<div class="tab-pane active" id="tab1">
		
			<div class="span5">		
				<h2>SystemName</h2>
				<br/>
				<div class="input form-vertical">
					<fieldset>
				
						<div class="control-group">
							<label for="systemInput">Name</label>
							<!--placeholder="SystemName"-->
							<input class="span2" name="systemInput" id="systemInput" ng-model="systemNameInput" type="text" ng-enterkey="saveSystemName();">
						</div>
						
						<div style="display:none" class="control-group">
							<label style="display:none" for="typeInput">Type</label>
							<!--placeholder="SystemType"-->
							<select style="display:none" class="span2" name="typeInput" id="typeInput" ng-model="systemTypeInput">
								<option value="Productionline">Productionline</option>
								<option value="Versionline">Versionline</option>
								<option value="Other">Other</option>
							</select>
						</div>
						
						<div class="control-group">
							<label for="textInput">Text</label>
							<!--placeholder="SystemText"-->
							<input class="span2" name="textInput" id="textInput" ng-model="systemTextInput" type="text" ng-enterkey="saveSystemName();">
						</div>
						
					</fieldset>
					<button id="systemNameAddButton" class="btn" type="button" ng-click="saveSystemName();">Add</button>
				</div>
				<br/>
				
				<a class="pull-right" ng-click="deleteSystemName();">delete</a>
				
				<table class="table" id="systemNamesTable">
				  <thead>
					<tr>
					  <th>#</th>
					  <th>System type</th>
					  <th>System name</th>
					  <th>System text</th>
					  <th>id</th>
					</tr>
				  </thead>
				  <tbody>
				  </tbody>
				</table>
			</div>
			
			
			<div class="span3 offset1">
				<h2>StatusType</h2>
				<br/>
				<div class="input-append">
					<input class="span2" id="StatusTypeInput" ng-model="statusTypeInput" type="text" placeholder="StatusType" ng-enterkey="saveStatusType();">
					<button id="statusTypeAddButton" class="btn" type="button" ng-click="saveStatusType();">Add</button>
				</div>
				<br/>

				<a class="pull-right" ng-click="deleteStatusType();">delete</a>
				
				<table class="table" id="statusTypesTable">
				  <thead>
					<tr>
					  <th>#</th>
					  <th>Status name</th>
					  <th>id</th>
					</tr>
				  </thead>
				  <tbody>
				  </tbody>
				</table>	
			</div>
			
		</div>
		<div class="tab-pane" id="tab2">
		
			<div class="span3">						
				<h2>AlertType</h2>
				<br/>
				<div class="input-append">
					<input class="span2" id="AlertTypeInput" ng-model="alertTypeInput" type="text" placeholder="AlertType" ng-enterkey="saveAlertType();">
					<button id="alertTypeAddButton" class="btn" type="button" ng-click="saveAlertType();">Add</button>
				</div>
				<br/>
				
				<a class="pull-right" ng-click="deleteAlertType();">delete</a>
				
				<table class="table" id="alertTypesTable">
				  <thead>
					<tr>
					  <th>#</th>
					  <th>Alert name</th>
					  <th>id</th>
					</tr>
				  </thead>
				  <tbody>
				  </tbody>
				</table>			
			</div>
		
		
			<div class="span4 offset1">						
				<h2>AlertLog</h2>
				<br/>
				
				<a class="pull-right" ng-click="deleteAlertLog();">delete</a>
				
				<table class="table" id="alertLogTable">
				  <thead>
					<tr>
					  <th>#</th>
					  <th>Alert heading</th>
					  <th>Exp. date</th>
					  <th>type</th>
					  <th>id</th>
					</tr>
				  </thead>
				  <tbody>
				  </tbody>
				</table>						
			</div>					

			
		</div>
	  </div>
	</div>

	
	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="../bootstrap/js/bootstrap.js"></script>
	<script src="../bootstrap/js/bootstrap-popover.js"></script>
	<script src="../bootstrap/js/bootstrap-collapse.js"></script>
	<script src="../js/utils.js"></script>
	
</body>

</html>